{% set activetab = 'home' %}
{% extends '/base.html.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1>Howdy!</h1>
        <p>Ladder let's you challenge your friends to a game of ping pong and earn points for doing it!</p>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p><a class="btn btn-primary btn-large" href="{{ path('ladder') }}"">Find someone to challenge</a></p>
        {% else %}
            <p><a class="btn btn-primary btn-large" href="{{ path('user_login') }}"">Log in</a> or <a class="btn btn-primary btn-large" href="{{ path('security_new') }}">Register</a> to get started</p>
        {% endif%}
    </div>

    <div class="row">
        <div class="span4">
            <h2>Active Challenges</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th></th>
                    <th>Challenger</th>
                    <th>Challenged</th>
                </tr>
                {%  for challenge in activeChallenges %}
                    <tr>
                        <td><a href="{{ path('challenge_view', {'id': challenge._id}) }}">details</a></td>
                        <td><a href="{{ path('player_view', {'name': challenge.challenger.username}) }}">{{ challenge.challenger.username }}</a></td>
                        <td><a href="{{ path('player_view', {'name': challenge.challenged.username}) }}">{{ challenge.challenged.username }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="span4 offset1">
            <h2>Last 10 games</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th></th>
                    <th>Challenger</th>
                    <th>Challenged</th>
                    <th>Score</th>
                </tr>
                {%  for challenge in completeChallenges %}
                    <tr>
                        <td><a href="{{ path('challenge_view', {'id': challenge._id}) }}">details</a></td>
                        <td><a href="{{ path('player_view', {'name': challenge.challenger.username}) }}">{{ challenge.challenger.username }}</a></td>
                        <td><a href="{{ path('player_view', {'name': challenge.challenged.username}) }}">{{ challenge.challenged.username }}</a></td>
                        <td>{{ challenge.challenger.score }}-{{ challenge.challenged.score }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}